version: "3.9"

services:

  postgres:
    restart: always
    image: postgres:latest
    container_name: postgres
    environment:
      POSTGRES_DB: "evraz-db"
      POSTGRES_USER: "hack-user"
      POSTGRES_PASSWORD: "hack-test"
    volumes:
      - ./init_database/init_db.sql:/docker-entrypoint-initdb.d/init_db.sql
      - pg_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "8088:8088"
    environment:
      PGDB: evraz-db
      PGUSER: hack-user
      PGPASSWORD: hack-test
      PGHOST: postgres
      PGPORT: 5432
    depends_on:
      - postgres
    command:
      - ./wait-for-postgres.sh

volumes:
  pg_db:
  init_database: